# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Python environment files
*.egg-info/
*.egg
*.pyo
*.pyd

# Logs
*.log

# Environment variables and credentials
.env

data/
